
<style type="text/css">
	body{
		/*background-color: #B8C4CC;*/
	}
	table{
		background-color: white;
		border:2px solid white;
	}
	span{
		color: white;
		font-size: 20px;
	}
	thead{
		color: #FF1493;
		font-size: 20px;
	}
	h1{
		color: black;
	}
</style>

<h1><%= @user_name %>のお気に入り</h1><br>
<div class="container">
	<table class="table-hover">
		<thead>
			<tr>
				<th>&nbsp;title</th>
				<th>&nbsp;author</th>
				<th>&nbsp;favorite</th>
				<th>&nbsp;unfavorite</th>
			</tr>
		</thead>
		<% @favorite_users.each do |f| %>	
		<tbody>
			<tr>
				<th><%= link_to article_favorite(f.article_id).title, article_path(f.article_id) %></th>
				<th><%= link_to image_tag(user_image(author_id(f.article_id))) ,user_path(author_id(f.article_id)) %></th>
				<th><%= article_favorite_count(f.article_id) %></th>			
				<th><%= link_to "show", article_path(f.article_id) %></th>
				<% unless favorite_or_not(f.article_id)==1 %>
				<th><%= link_to "いいね",article_favorites_path(f.article_id),method: :post %></th>
				<% else %>
				<th><%= link_to "ファボを外す。",favorite_path(favorite_id(f.article_id)), method: :delete %></tr>
					<% end %>
					<% end -%>
				</tbody>
			</table>
		</div>