<%= link_to "全記事削除", delete_all_articles_admins_path, method: :delete %> | 
<%= link_to "全ユーザー削除", delete_all_users_admins_path, method: :delete %>

<h3>ユーザー一覧</h3>
<div class="container" style="padding:20px 0">
	<table class="table">
		<thead>
			<tr>
				<th>user</th>
				<th>email</th>
				<th>provider</th>
				<th>articles</th>
				<th>follows</th>
				<th>time</th>
				<th>drop</th>
			</tr>
		</thead>
		<% @users.each do |user| %> 
		 <% unless user.admin %>
		<tbody>	
			<ul><tr>
				<th><%=user.username%></th>
				<th><%=user.email%></th>
				<th><%=user.provider%></th>
				<th><%=@articles.where("user_id=?",user.id).count%></th>
				<th><%=@follows.where("followed_id=?",user.id).count%></th>
				<th><%= tokyotime(user.created_at) %></th>
				<th><%= link_to "delete", delete_user_admins_path ,method: :delete %></th>
			</tr></ul>
		</tbody>
		<% end -%>
		<% end -%>
	</table>
</div>

<h3>記事一覧</h3>
<div class="container" style="padding:20px 0">
	<table class="table">
		<thead>
			<tr>
				<th>title</th>
				<th>name</th>
				<th>time</th>
				<th>favorite</th>
				<th>delete</th>
			</tr>
		</thead>
		<% @articles.each do |article| %> 
		<tbody>	
			<ul><tr>
				<th><%=article.title%></th>
				<th><%=article.id%></th>
				<th><%=tokyotime(article.created_at)%></th>
				<th><%=@favorites.where("article_id=?",article.id).count%></th>
				<th><%= link_to "delete", article_path(article), method: :delete -%></th>
			</tr></ul>
		</tbody>
		<% end -%>
	</table>
</div>