<style type="text/css">
table{
	background-color: white;
	border: 2px solid black;
}
body{
		background-color: #EEEEEE;
}
thead{
	background-color: gray;
	color: white;
	border: 2px solid black;
}
</style>
<br>
<div class="container" >
	<botton class="btn .btn-yellow"><%= link_to "Create", new_article_path %></botton>
	<table class="table-hover" >
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Title</th>
				<th>Time</th>
				<th>Show</th>
				<th>Like</th>
			</tr>
		</thead>
		<% @articles.reverse_each do |article| %> 
		<tbody>	
			<tr>
				<th><%= image_tag (user_image(article.user_id)) %></th>
				<th><%= link_to author_name(article),user_path(article.user_id) %></th>

				<th><%= article.title %></th>
				<th><%= tokyotime(article.created_at) %></th>
				<th><%= link_to "show", article_path(article),method: :get-%> </th>
			</th>
			<% unless favorite_or_not(article.id)==1 %>
			<th><%= link_to "いいね",article_favorites_path(article),method: :post %></th>
			<% else %>
			
			<th><%= link_to "ファボを外す。",favorite_path(favorite_id(article)), method: :delete %></tr>
				<% end %>

			</tbody>
			<% end -%>
		</table>
	</div>
	<div>	
	</div>



