<style type="text/css">
</style>
<br>
<div class="container" >
	<botton class="btn .btn-yellow"><%= link_to "Create", new_article_path %></i></botton>
	<table class="table-hover" >
		<thead>
			<tr>
				<th>Name</th>
				<th>Title</th>
				<th>Time</th>
				<th>Show</th>
				<th>Like</th>
			</tr>
		</thead>
		<% @articles.reverse_each do |article| %> 
		<tbody>	
			<tr>
				<th><%= link_to author_name(article),user_path(article.user_id) %></th>
				<th><%= article.title %></th>
				<th><%= tokyotime(article.created_at) %></th>
				<th><%= link_to "show", article_path(article),method: :get-%> </th>
			</th>
			<% if favorite_or_not(article.id)==2 %>
			<th><%= link_to "いいね",article_favorites_path(article),method: :post %></th>
			<% else %>
			<th>ファボしています。</th>
			<% end %>

		</tbody>
		<% end -%>
	</table>
</div>
<div>	
</div>
