<%= stylesheet_link_tag 'article' %>
<h1>全ての記事</h1>
<br><br>
<div class="container" >
	<table class="table-hover" >
		<thead>
			<tr>
				<th>Image</th>
				<th>Title</th>
				<th>Author</th>
				<th>Time</th>
				<th>Like</th>
			</tr>
		</thead>
		<% @articles.reverse_each do |article| %> 
		<tbody>	
			<tr>
				<th><%= image_tag(article.image_url(:thumb).to_s) %></th>
				<th><%= link_to article.title, article_path(article) %></th>
				<th><%= link_to article.author_name(article),user_path(article.user_id) %></th>
				<th><%= tokyotime(article.created_at) %></th>
			<% unless article.favorite_or_not(article.id,@user_id)==1 %>
			<th><%= link_to "いいね",article_favorites_path(article),method: :post %></th>
			<% else %>
			<th><%= link_to "ファボを外す。",favorite_path(article.favorite_id(article,@user_id)), method: :delete %></tr>
				<% end %>

			</tbody>
			<% end -%>
		</table>
	</div>
	<div>	
	</div>



