<%= stylesheet_link_tag 'create' %>
<h1>新しい記事を作成</h1>
<br><br>
<div class="container">
	<%= form_for @article, :multipart => true do |f| %>
	<p class="label"><%= f.label :title %></p>
	<p class="box"><%= f.text_field :title %></p><br>
	<p class="label"><%= f.label :content %></p>
	<p class="box"><%= f.text_area :article %></p>
	<p><%= f.hidden_field :remote_image_url %></p>
	<p><%= f.hidden_field :user_id ,:value => current_user.id%></p>
	<div>
		<input type="file" id="file"><br>
		<p>
			<select id="penColor">
				<option value="black">黒</option>
				<option value="red">赤</option>
				<option value="blue">青</option>
				<option value="white">白</option>
			</select>
			<select id="penWidth">
				<option value="3">細</option>
				<option value="7">中</option>
				<option value="15">太</option>
			</select>
		</p>
		<img src="" id="back_image" style="display:none;" width="500" height="500" >
		<canvas  id="mycanvas" width="500" height="500">
			Canvasに対応したブラウザを用意してください。
		</canvas>
		<div id="gallery"></div><br>
		<p><input type="submit" id="save" value="登録する"></p>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<%= javascript_include_tag 'create' %>
	</div>
	<% end -%>
</div>