
<div class="container">
	<h3 style="color: #FF1493;"><%= @article.title%></h3>
	<h2>article</h2>
	<p><% @article.article%></p>
	<%= image_tag (@article.image_url) %>
	</p>




<br><br>
<h3 style="color: #FF1493;">comment</h3>
<% @article.comments.reverse_each do |comment| %>
<!-- showへの接続もできている。commentsのDBもある。commentのカラムもある。前の掲示板のつくりとも全く同じ。-->
<p>
	<%= comment.comment %>
	<%= link_to "delete", article_comment_path(comment.article_id, comment.id), method: :delete %>
</p>
	<% end %>
	<%= form_for [@article, @article.comments.build] do |f|%>
	<%= f.text_field :comment %> 
	<%= f.hidden_field :user_id ,:value => current_user.id%>
	<%= f.submit %>
	<br><br><% end %>




</div>
