<%= stylesheet_link_tag 'user' %>
<%= link_to "全記事削除", delete_all_users_users_path , data: {confirm: "本当に削除しますか？"}%> | 
<%= link_to "全ユーザー削除",delete_all_articles_users_path , data: {confirm: "本当に削除しますか？"}%>
<br><br>
<h1>管理者画面</h1>
<div class="container" >
<br><h3>ユーザー一覧</h3>
	<table class="table">
		<thead>
			<tr>
				<th>名前</th>
				<th>Eメール</th>
				<th>プロバイダー</th>
				<th>記事数</th>
				<th>フォロー数</th>
				<th>フォロワー数</th>
				<th>登録時</th>
				<th>削除</th>
			</tr>
		</thead>
		<% @users.each do |user| %> 
		 	<% unless user.admin %>
			<tbody>	
				<tr>
					<td><%= user.username %></td>
					<td><%= user.email %></td>
					<td><%= user.provider %></td>
					<td><%= user.articles.size  %></td>
					<td><%= user.follows.size %></td>
					<td><%= user.reverse_follows.size %></td>
					<td><%= tokyotime(user.created_at) %></td>
					<td><%= link_to image_tag("/assets/drop.jpg/", :size => "30x30"), user_delete_user_path(user) ,method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
				</tr>
			</tbody>
			<% end -%>
		<% end -%>
	</table>
</div>
<div class="container" >
<br><h3>記事一覧</h3>
	<table class="table">
		<thead>
			<tr>
				<th>記事名</th>
				<th>作者</th>
				<th>作成時</th>
				<th>お気に入り数</th>
				<th>削除</th>
			</tr>
		</thead>
		<% @articles.each do |article| %> 
		<tbody>	
			<tr>
				<td><%= article.title %></td>
				<td><%= article.user.username %></td>
				<td><%= tokyotime(article.created_at) %></td>
				<td><%= article.favorites.size %></td>
				<td><%= link_to image_tag("/assets/drop.jpg/", :size => "30x30"), article_path(article), method: :delete, data: {confirm: "本当に削除しますか？"} -%></td>
			</tr>
		</tbody>
		<% end -%>
	</table>
</div>