<h1>友達を探す</h1><br><br>
<div class="container">
	<table class="table-hover">
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Follow</th>
				<th>Follower</th>
				<th>Articles</th>
				<th>unfollow</th>
			</tr>
		</thead>
		<% @users.each do |f| %>
		<tbody>
			<tr>
				<td><%= image_tag (user_image(f)) %></td>
				<td><%= link_to f.username ,user_path(f) %></td>
				<td><%= f.follows.count %></td>
				<td><%= f.user_follower_count(f) %></td>
				<td><%= f.articles.count %></td>
				<% if current_user.follows.find_by_followed_id(f) %>
				<td><%= link_to "delete follow", follow_path(current_user.follows.find_by_followed_id(f)) ,method: :delete %></td>
				<% else %>	
				<td><%= link_to "create follow", user_follows_path(f) , method: :post %></td>
				<% end %>
			</tr>
			<% end -%>
		</tbody>
	</table>
</div>


