
<%= stylesheet_link_tag 'article' %>
<br>
<br>
<div class="container" >
	<table class="table-hover" >
		<thead>
			<tr>
				<th>Image</th>
				<th>Title</th>
				<th>Author</th>
				<th>Time</th>
				<th>Like</th>
			</tr>
		</thead>
		<% if @id %>
		<% @id.each do |i| %>
		<tbody>	
			<tr>
				<td><%= image_tag @articles.find(i).image_url(:thumb).to_s %></td>
				<td><%= @articles.find(i).title %></td>
				<td><%= @users.author_name(i) %></td>
				<td><%= tokyotime(@articles.find(i).created_at)%></td>
				<td><%= link_to "いいね",article_favorites_path(i),method: :post %></td>
			</tr>
		</tbody>
		<% end -%>
		<% end -%>

