<%= stylesheet_link_tag "profile" %>
<h1><%= current_user.username %>のタイムライン</h1>
<div id="container">
	<div id="main">
		<% if @articles %>
		<% @articles.each do |article| %>
		<div id="contents">
			<div class="title"><%= image_tag user_image(article.user_id) %></div>
			<h2 class="title"><%= article.title %></h2>
			<% if current_user.favorites.find_by_article_id(article)  %>
			<h3 class="favorite"><%= link_to "♥",favorite_path(current_user.favorites.find_by_article_id(article)), method: :delete %></h3>
			<% else %>
			<h3 class="favorite"><%= link_to "♡",article_favorites_path(article),method: :post %></h3>
			<% end -%>
			<h3 class="favorite"><%= link_to "show",article_path(article)%></h3>
			<br><br><br><br><br>
			<div class="item" ><%= image_tag article.image_url%></div>
			<div class="article"><%= article.article %></div>
		</div>
		<% end -%>
		<% end -%>
	</div>
</div>
<a href="http://localhost:3000/users">TOPに戻る。</a>
</div>
