<style type="text/css">
	body{
		/*background-color: #B8C4CC;*/
	}
	table{
		background-color: white;
		border:2px solid white;
	}
	span{
		color: white;
		font-size: 20px;
		background-color: #660033;
		border-radius: 10%;
	}
	thead{
		color: #FF1493;
		font-size: 20px;
	}
	h1{
		color: black;
	}
</style>

<h1><%= @user_name %>のページ</h1><br>
<div class="container">
	<span>
		&nbsp; <%= link_to user_favorite_count(current_user.id),user_favorites_path(@user_id) %> favorite
	</span>&nbsp;&nbsp;
	<span>
		&nbsp; <%= link_to user_follow_count(@user_id),user_follows_path(@user_id) %> follow
	</span>&nbsp;&nbsp;
	<span>
		&nbsp;<%= link_to user_follower_count(@user_id) %> follower
	</span>&nbsp;&nbsp;
	<% if follow_or_not(@user_id,current_user.id)==1 %>
		<span  style="background-color: red">&nbsp; <%= link_to "unfollow", follow_path(follow_id(@user_id)) ,method: :delete %>&nbsp;
	</span>
	<% else %>
	<span style="background-color: red">&nbsp; <%= link_to "follow", user_follows_path(@user_id) , method: :post %>&nbsp;</span>
	<% end %>
	<br><br>
	<table class="table-hover">
		<thead>
			<tr>
				<th>&nbsp;title</th>
				<th>&nbsp;time</th>
				<th>&nbsp;favorite</th>
				<th>&nbsp;edit</th>
				<th>&nbsp;delete</th>
			</tr>
		</thead>
		<% @user_article.each do |article| %>	
		<tbody>
			<tr>
				<th>&nbsp;<%= link_to article.title, article_path(article) %></th>
				<th>&nbsp;<%= tokyotime(article.created_at) %></th>
				<th>&nbsp;<%= article_favorite_count(article)%></th>
				<% if author_or_not(article.id,current_user.id)== 1 %>
				<th>&nbsp;<%= link_to  image_tag("/assets/edit.jpg/", :size => "30x30"), edit_article_path(article),method: :get  -%></th>>
				<th>&nbsp;<%= link_to image_tag("/assets/drop.jpg/", :size => "30x30"), article_path(article), method: :delete -%></th>
				<% end -%>
			</tbody>
			<% end -%>
		</table>
	</div>