<h1><%= @user.username %>のフォロワー</h1>
<br><br>
<div class="container">
	<table class="table-hover">
		<thead>
			<tr>
				<th>プロフィール</th>
				<th>名前</th>
				<th>フォロー数</th>
				<th>フォロワー数</th>
				<th>記事数</th>
				<th>フォロー</th>
			</tr>
		</thead>
			<% @users.each do |f| %>		
		<tbody>
			<tr>
				<td><%= image_tag f.user_image %></td>
				<td><%= link_to f.username, user_path(f) %></td>
				<td><%= f.follows.size %></td>
				<td><%= f.reverse_follows.size %></td>
				<td><%= f.articles.size %></td>
				<% if current_user.follows.find_by(followed_id: f) %>
				 <td><%= link_to "unfollow", follow_path(current_user.follows.find_by(followed_id: f)) ,method: :delete %></td>
				<% else %>	
				 <td><%= link_to "follow", user_follows_path(f) , method: :post %></td>
				<% end %>
			</tr>
		</tbody>
		<% end -%>
	</table>
</div>