<h1><%= @user.username %>がフォローしている人</h1>
<br><br>
<div class="container">
	<table class="table-hover">
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Follow</th>
				<th>Follower</th>
				<th>Articles</th>
				<th>unfollow</th>
			</tr>
		</thead>
		<tbody>
			<% @follows.each do |f| %>
			<tr>
				<td><%= image_tag (user_image(f.followed_id)) %></td>
				<td><%= link_to f.follow_name(f.followed_id) ,user_path(f.followed_id) %></td>
				<td><%= f.user_follow_count(f.followed_id) %></td>
				<td><%= f.user_follower_count(f.followed_id) %></td>
				<td><%= f.user_article_count(f.followed_id) %></td>
				<td><%= link_to "unfollow", follow_path(f.follow_id(f.followed_id,current_user.id)),method: :delete %></td>
			</tr>
		</tbody>
		<% end -%>
	</table>
</div>