<div class="row">
	<div class="col-md-2"><%= link_to "新規登録", new_user_registration_path %></div>
	<div class="col-md-2" ><%= link_to "ログイン", new_user_session_path %></div>
	<div class="col-md-2"><%= link_to "facebookログイン", omniauth_authorize_path(resource_name, resource_class.omniauth_providers[0]) %><br /></div>
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	<div class="col-md-2"><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
	<% end -%>
</div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
