<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blogapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
  <nav>
    <% if user_signed_in? %>
    <% if current_user.admin %>
    <h3><%= link_to "Log Out", destroy_user_session_path, :method => :delete  %></h3>
    <%= render :file => 'app/views/admins/index.html.erb'%>
    <% else %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <div class="navbar-brand"><%= link_to "Home", articles_path  %></div>
      </div>
      <ul class="nav navbar-nav">
      
        <li><%= image_tag (user_image(current_user.id)) %></li>
        <li><%= link_to current_user.username,user_path(current_user.id)%></li>
        <li><%= link_to 'Edit', edit_user_registration_path %></li>
        <li><%= link_to "Out", destroy_user_session_path, :method => :delete%></li>
      </ul>
    </nav>  
    <br><br><br><br>
    <%= yield %>
    <% end -%>
    <% else %>
      <div class="row">
        <div class="col-md-2" style="border: 1px "><%= link_to "新規登録", new_user_registration_path %></div>
        <div class="col-md-2" style="border: 1px "><%= link_to "ログイン", new_user_session_path %></div>
          <% resource_class.omniauth_providers.each do |provider| %>
        <div class="col-md-2" style="border: 1px "><%= link_to "#{provider.to_s.titleize}ログイン", omniauth_authorize_path(resource_name, provider) %><br /></div>
        <% end -%>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <div class="col-md-2" style="border: 1px "><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
        <% end -%>
      </div>
      
      
      <%= yield %>
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <% end %>
  </body>
  </html>




