<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/header' %>
</head>
<body>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= render 'layouts/admin_navbar' %>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/footer' %>
    <% end %>
  <% else %>
  <%= render 'layouts/login' %>
  <% end %>
</body>
</html>